version: "3.9"

services:
  postgres-exporter:
    image: prometheuscommunity/postgres-exporter:v0.18.1
    container_name: postgres-exporter
    restart: unless-stopped
    environment:
      - DATA_SOURCE_NAME=postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/el_dorado?sslmode=disable
    ports:
      - "9187:9187"
    depends_on:
    - postgres