services:
  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: el_dorado
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
