services:
  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: el_dorado
    volumes:
      - postgres_data:/var/lib/postgresql/data

  postgres-exporter:
    image: quay.io/prometheuscommunity/postgres-exporter:v0.16.0
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      DATA_SOURCE_NAME: postgresql://postgres:postgres@postgres:5432/el_dorado?sslmode=disable
    ports:
      - '9187:9187'

volumes:
  postgres_data:
